<div class="row">
  <div class="col-md-6">
    <p>Eigene Tour erstellen</p>
    {{> tour-erstellen }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Verfügbare Touren</h2>
    <ul class="list-group">
      {{#each touren}}
      <li class="list-group-item">
        <a href="/tour/{{this.id}}">{{this.name}}</a> von <a
          href="/benutzer/{{this.benutzername}}">{{this.benutzername}}</a>
        <br />
        <span>{{this.beschreibung}}</span>
        <button class="btn btn-primary">Starten</button>
        <button class="btn btn-info">Merken</button>
      </li>
      {{/each}}
    </ul>
  </div>
</div>