<div class="row">
  <div class="col-md-6">
    <p>Eigene Tour erstellen</p>
    {{> tour-erstellen }}
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h2>Verfügbare Touren</h2>
    <ul class="list-group">
      {{#each touren}}
      <li class="list-group-item">
        <a href="/tour/{{this.id}}">{{this.name}}</a> von <a
          href="/benutzer/{{this.benutzername}}">{{this.benutzername}}</a>
        <br />
        <span>{{this.beschreibung}}</span>

        <div class="tour-details">
          {{#if this.distanz}}
          <span>Strecke: {{this.distanz}} m</span>
          {{/if}}


          {{#if this.dauer}}
          <span>Dauer: {{this.dauer}} min</span>
          {{/if}}
        </div>

        <br />
        <button class="btn btn-primary"><a class="btn-link" href="/tour/{{this.id}}">Starten</a></button>
        <button class="btn btn-info" onclick="tourMerken({{this.id}})">Merken</button>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<script>
  function tourMerken(tourId) {
    const benutzername = "{{this.benutzername}}"
    console.log("Tour merken: " + tourId)

    // sendet Tour id und Benutzername an den Server. 
  }
</script>